@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
 


*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  background: linear-gradient(270deg, #FFD7D7 0%, #FFD7D7 0.01%, #FFFFFF 51.04%, #D9E8FF 100%);
}

body {
  position: relative;
  background: url(/assets/img/Фон.png) no-repeat;
  background-position: center 0;
}

ul,
ol,
li {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

/* MAIN FIRMS START */

.top-mob__btn-block,
.top-mob__left-btn,
.top-mob__right-btn {
  display: none;
}

.adaptive-bg {
  display: none;
}

.section-company {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 450px;
  width: 100%;
  position: relative;
  margin-top: 48px;
  
  z-index: 5;
}

.company-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  height: 100%;
  grid-gap: 20px;
}

.company-left__border {
  background: #FFFFFF;
border: 2px solid #002047;
box-sizing: border-box;
border-radius: 4px;

width: clamp(163px, 33.5vw, 210px);
height: clamp(78px, 21.5vw, 100px);

margin-bottom: 15px;
cursor: pointer;

position: relative;

}

.company-link__left {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 30px 0; */
  width: 100%;
  height: 100%;
  
}


.icon-bosch {
  background-position: center;
  /* transition:  all .3s ease; */
  padding: 18px 15px;
  width: 100%;
  max-height: 100px;
  height: 100%;
  fill:#2B2A29;

}

.bosch:hover {
  background: #003F68;
  background-position: center;
  transition:  all .3s ease;
}

.icon-bosch:hover {
  fill: #FE0000;
}


.makita,
.bosch,
.stihl,
.dremel {
  border: 2px solid #002047;
  border-radius: 4px;
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.makita:hover {
  background: #CD2628;
  background-position: center;
  fill:#FFFFFF;
}

.icon-makita {

  width: 100%;
  max-height: 100px;
  height: 100%;
  padding: 18px 15px;
  fill:#CD2628;
}
.icon-makita:hover {
  fill:#FFFFFF;
}


.stihl:hover {
  background: #EB6320;
}
.icon-stihl {
  fill:#EB6320;
  width: 100%;
  max-height: 100px;
  height: 100%;
  padding: 24px 15px;
}
.icon-stihl:hover {
  fill: #fff;
}

.dremel:hover {
  background: #0B4F96;
}

.icon-dremel {
  width: 100%;
  max-height: 100px;
  height: 100%;
  padding: 18px 15px;
  fill:#0B4F96;
}
.icon-dremel:hover {
  fill: #FFFFFF;
}


/* right */

.patriot,
.pecanta,
.karher,
.metabo,
.aurora,
.skat,
.interskol {
  border: 2px solid #FE0000;
  border-radius: 4px;
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-patriot {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  fill:#EB5D1D;
}
.icon-patriot:hover {
  fill: #FFFFFF;
}
.patriot:hover {
  background: #EB5D1D;
}

.icon-pecanta {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  fill:#FF0416
}
.icon-pecanta:hover {
  fill: #FFFFFF;
}
.pecanta:hover {
  background: #FF0416;
}

.icon-karher {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  /* fill:#FFFF01; */
}
.icon-karher:hover {
  fill: #FFF;
}
.karher:hover {
  background: #000000;
}

.icon-metabo {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  fill:#115945;
}
.icon-metabo:hover {
  fill: #FFF;
}
.metabo:hover {
  background: #115945;
}

.icon-aurora {
  fill:#244081;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}
.icon-aurora:hover {
  fill: #FFF;
}
.aurora:hover {
  background: #244081;
}

.icon-skat {
  fill:#F5791F;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}
.icon-skat:hover {
  fill: #FFF;
}

.skat:hover {
  background: #F5791F;
  
}

.icon-interskol {
  fill: #DF1833;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}
.icon-interskol:hover {
  fill: #FFF;
}
.interskol:hover {
  background: #DF1833;
}

.company-link__right {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px 0; */
  width: 100%;
  height: 100%;
}


.company-right__border {
  background: #FFFFFF;
border: 2px solid #FE0000;
box-sizing: border-box;
border-radius: 4px;

width: clamp(163px, 33.5vw, 210px);
height: clamp(55px, 15.5vw, 70px);
cursor: pointer;

}

.company-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  max-width: 450px;
  width: 100%;
  height: 390px;

  grid-gap: 3px;
}


/* ___SECTION TOOLS ________ */

.section-tools {
  display: flex;
  justify-content: space-between;
}

.tools-items {
  display: flex;
  flex-wrap: wrap;
  max-width: 684px;
  width: 100%;
  gap: 20px;
}

.tools-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 110px;
  position: relative;

  transition: transform .2s;
  /* transition: all .3s ease-in-out; */
}

.tools-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tools-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tools-left__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 480px;
height: 66px;
background: #002047;
border-radius: 8px;

font-weight: 600;
font-size: 20px;
line-height: 24px;
transition: transform .2s;
color: #FFFFFF;

  margin-top: 60px;
}

.tools-right__btn {
  display: flex;
  align-items: center;
  text-align: center;

  max-width: 480px;
  width: 100%;
height: 66px;
background: #FE0000;
border-radius: 8px;

font-weight: 600;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
transition: transform .2s;
  margin-top: 60px;
}
.tools-right__btn a,
.tools-left__btn a {
  color: #FFFFFF;
}

.tools-right__btn:hover,
.tools-left__btn:hover {
  transform: scale(1.1);
}

/* TOOLS DESCRIPTION*/
.tools-item:hover {
  transform: scale(1.08);
  z-index: 200;
  transition: all .3s ease-in-out;
}
.tools-item:hover .tools-item__description {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #002047;
  border-radius: 4px;
  padding: 10px 15px;

  color: #FFF;
  transition: all .3s ease-in-out;
  font-weight: 600;
font-size: 14px;
line-height: 16px;
text-align: center;
}
.tools-item__description {
  display: none;
  z-index: 100;
}

.tools-item:hover .red {
  background: #FE0000;
}

.tools-item .red {
  background: #FE0000;
}


.tools-item {
  display: flex;
  flex-direction: column;
}

/* ___FOOTER___ */

.footer {
  background: #002047;
margin-top: 20px;
}

.footer-items {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-item {
  color:#5C82B0;
  text-decoration: none;
  display: flex;
  align-items: center;
gap: 10px;
  padding: 0 40px 0 0;
 
}
.footer-item a {
  color:#5C82B0;
  transition: all .3s ease-in-out;
}

.footer-item:hover a {
  color: #FFF;
}

.icon {
  width: 34px;
  height: 34px;
}


/* MEDIA QUARIES */
  @media (max-width: 1410px) {
    .tools-items {
      justify-content: space-around;
    }
  }

  @media (max-width:1330px) {
    body {
      background-position: center;
    }
    .tools-left {
      margin-right: 5px;
    }
    .tools-right {
      margin-left: 5px;
    }
    
    .footer-items {
      flex-wrap: wrap;
    }
  }

  @media (max-width:940px) {

    .footer-items {
      justify-content: flex-start;
    }

    .section__footer-content {
     padding: 30px 0;
    }

    .top-mob__btn-block {
      display: flex;
      justify-content: space-between;
      padding:  0 30px;
      gap: 5px;
    }
    
    
    .top-mob__btn {
      width: clamp(163px, 40vw, 328px);
      height: clamp(51px ,18vw, 82px);
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .top-mob__btn a {
      color: #FFFFFF;
      font-size: clamp(10px, 2.5vw, 18px);
    }

    .red-btn {
      background: #FE0000;

    }
    .blue-btn {
      background: #002047;

    }

    .tools-left__btn,
    .tools-right__btn {
      display: none;
    }

    body {
      background: none;
    }

    .adaptive-bg {
      display: flex;
      justify-content: center;
      
      margin: 49px 0;
    }

    .section-company {
      height: 100%;
      align-items: center;  
      height: clamp(445px, 100vh, 650px);
    }

    .company-right {
      height: 100%;
      align-items: center;
      justify-content: space-between;
    }
    .company-left {
      align-items: center;
      justify-content: space-between;
    }
    .company-left__border {
      margin: unset;
    }

    .tools-items {
      flex-direction: column;
    }

    .section-tools {
      justify-content: space-around;
      margin-top: 50px;
    }

    .tools-item {
      max-width: 252px;
      width: 100%;
      height: 172px;
      /* justify-content: space-between;  TYT U SPARTAKA NADO SPROSIT!!!! */
    }

    .tools-item img {
      margin-bottom: 5px;
    }

    .tools-item__description {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
    width:100%;
      height: 50px;
      background: #002047;
      border-radius: 4px;
      padding: 14px;
      color: #FFFFFF;

      font-size: 14px;
      line-height: 18px;
    }
    .company-left,
    .company-right {
      flex-wrap: nowrap;
    }
  }

  @media (max-width:768px) {
    .adaptive-bg img {
      width: clamp(300px, 100%, 641px);
    }

    .top-mob__left-btn {
      font-size: clamp(10px, 2.5vw, 18px);
      width: clamp(100vw, 10vw, 328px);
      height: clamp(52px, 15vw, 82px);
      max-width: unset;
      white-space: nowrap;
      margin-right: 15px;
      padding: 0 15px;
    }
    .top-mob__right-btn {
      font-size: clamp(10px, 2.5vw, 18px);
      width: clamp(100vw, 10vw, 328px);
      height: clamp(52px, 15vw, 82px);
      white-space: nowrap;
      padding: 0 5px;
      line-height: clamp(15px, 15vw, 100%);
    }


    .tools-item {
      justify-content: space-between;
    }
    .company-left,
    .company-right {
      flex-wrap: nowrap;
    }
  }

  @media(max-width: 726px) {
    .section-company {
      align-items: flex-start;
    }
    .footer-items {
      display: block;
      height: 100%;
      
    }
    .footer-item {
      margin: 10px 0;
      white-space: nowrap;
      padding: unset;
    }
    .company-left,
    .company-right {
      flex-wrap: nowrap;
    }
  }

  @media (max-width: 510px) {
    .top-mob__btn-block {
      padding:  0 10px;
    }

    .section-company {
      height: clamp(440px, 100vh, 650px);
    }

    .company-left,
    .company-right {
      flex-wrap: nowrap;
    }

    .tools-item {
      width: clamp(140px, 40vw, 252px);
    }
    .tools-item a {
      font-size: clamp(10px, 2.5vw, 14px);

    }
  }

  @media (max-width: 375px) {

    .company-left__border {
      width: clamp(135px, 33.5vw, 210px);;
    }
    .company-right__border {
      width: clamp(135px, 33.5vw, 210px);;
    }

    .top-mob__btn-block {
      padding: unset;
    }
  }

  @media (max-width: 340px) {
    .tel {
      display: none;
    }

    .company-left {
      width: auto;
    }

    .company-right {
      width: auto;
    }
  }